---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">

  <p>
    Welcome to CALM, the Swindon Children's Cancer And Leukaemia Movement.
  </p>
  <p>
    CALM is a registered charity, run by parents who have all experienced what it
    is like to have a child diagnosed with cancer.
  </p>
  <p>
  </p>

  <p>
    CALM helps families that have a child receiving treatment at the Great
    Western Hospital in Swindon, Wiltshire.
  </p>

  <p>
    Most of the families CALM supports are based in the Swindon and Marlborough
    area.
  </p>

  <p>
    CALM is a purely voluntary charity with no paid employees.
  </p>

  <p>
    We aim to keep all expenses as low as possible, so we can ensure money
    donated can help the families who need it.
  </p>

  <p>
    CALM receives no funding from the NHS. All funds are raised by our
    families, with support from the local community.
  </p>

</div>

<!-- Facebook page -->
<div class="facebook">
  <div
    class="fb-page"
    data-href="https://www.facebook.com/pg/CALM-Charity-202430409799260"
    data-tabs="timeline"
    data-width="500"
    data-height="500"
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="true"
    data-show-facepile="true"
    >
    <blockquote
      cite="https://www.facebook.com/pg/CALM-Charity-202430409799260"
      class="fb-xfbml-parse-ignore"
      >
      <a href="https://www.facebook.com/pg/CALM-Charity-202430409799260">
        CALM Charity on Facebook
      </a>
    </blockquote>
  </div>
</div>

</div>
