---
layout: default
---
<div class="wrapper">
<div class="page">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% include page_divider.html %}

  <article class="post-content">
    {{ page.text | markdownify }}
  </article>

  {% comment %} Special case for contact page form {% endcomment %}
  {% if page.url == '/contact/' %}
    <fieldset>
      <form
        name="contact" netlify netlify-honeypot="hidden-bot-field">

        <p class="hidden">
          <label>
            Hidden field
            <input type="text" name="hidden-bot-field"></input>
          </label>
        </p>

        <label>
          Name
          <input name="name" type="text" required></input>
        </label>

        <label>
          Email
          <input name="email" type="email" required></input>
        </label>

        <label>
          Message
          <textarea name="message" required></textarea>
        </label>

        <button type="submit">Contact CALM</button>
      </form>
    </fieldset>
  {% endif %}

</div>
</div>
